.embla {
  overflow: hidden;
  &__container {
    display: flex;
      flex-direction: row;

    &--vertical {
      flex-direction: column;
    }
  }
  &__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
}