@use "@globals" as g;

.pickup-link {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  position: relative;
  padding: 10px;

  @include g.media("tb") {
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    max-width: 720px;
  }

  &::before, &::after {
    content: "";
    display: block;
    position: absolute;
  }

  &::before {
    border-left: 1px solid var(--color-black);
    top: 10px;
    left: 10px;
    bottom: 20px;
  }

  &::after {
    border-top: 1px solid var(--color-black);
    top: 10px;
    right: 10px;
    left: 20px;
  }

  &__inner {
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;

    &::before, &::after {
      content: "";
      display: block;
      position: absolute;
    }

    &::before {
      border-bottom: 1px solid var(--color-black);
      right: 20px;
      left: 10px;
      bottom: 10px;
    }

    &::after {
      border-right: 1px solid var(--color-black);
      top: 20px;
      right: 10px;
      bottom: 10px;
    }
  }

  &__title {
    margin-bottom: 5px;
  }

  &__link {
    margin-top: 20px;
  }
}