@use "@globals" as g;

.tell-link-button {
  background-color: var(--color-primary);
  border-radius: 5px;
  color: var(--color-white);
  display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  line-height: 1.4;
  padding: 8px 0;
  width: 320px;

  &:hover {
    background-color: g.color_scale(#2359A1, 20);
  }
}