@use "@globals" as g;

.link-button {
  background-color: var(--color-primary);
  color: var(--color-white);
  display: flex;
    align-items: center;
    justify-content: center;
  font-weight: 700;
  padding: 15px;
  width: 250px;

  &:hover {
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
  }

  &--flip {
    border: 1px solid var(--color-primary);
    justify-content: flex-start;
    position: relative;
    width: 250px;
    
    &::after {
      background-color: var(--color-white);
      content: "";
      width: 0;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: all .3s ease;
    }
    
    &:hover {
      transition: all .3s ease;

      &::after {
        background-color: var(--color-white);
        width: 248px;
      }
  
      & span {
        color: var(--color-primary);
        z-index: 10;
      }
    }
  }

  &--3d {
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
    box-shadow: 0px 3px var(--color-primary);
    color: var(--color-primary);
    padding: 15px 30px;
    text-align: center;

    & span {
      color: var(--color-primary);
    }

    &:hover {
      box-shadow: none;
      position: relative;
      top: 3px;
    }
  }

  &--label {
    background: var(--color-primary);
    border-radius: 30px;
    color: var(--color-white);
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    padding: 0 20px;
    width: unset;
  
    &:hover {
      background-color: var(--color-white);
      border: 1px solid var(--color-primary);
      color: var(--color-primary)
    }
  
    @include g.media('tb') {
      font-size: 1.6rem;
    }
  }
}