.link {
  display: flex;
    align-items: center;
    gap: 30px;

  &__text {
    font-size: 1.8rem;
    font-weight: 700;
    display: block;
  }

  &__arrow {
    border: 1px solid var(--color-black);
    border-radius: 50%;
    display: block;
    width: 20px;
    height: 20px;
    position: relative;

    &::before {
      content: url(../../../assets/svg/arrow_black.svg);
      display: block;
      width: 20px;
      height: 4px;
      position: absolute;
      top: -30%;
      left: -11px;
    }
  }

  &:hover .link__arrow::before {
    -webkit-animation: arrowLine .5s cubic-bezier(.785,.135,.15,.86) 0s 1 normal forwards;
    animation: arrowLine .5s cubic-bezier(.785,.135,.15,.86) 0s 1 normal forwards;
  }
}

@keyframes arrowLine {
  0% {
    transform: translateX(0) scaleX(1);
    transform-origin: right center;
  }
  50% {
    transform: translateX(8px) scaleX(.1);
    transform-origin: right center;
  }
  50.1% {
    transform: translateX(-8px) scaleX(0);
    transform-origin: left center;
  }
  100% {
    transform: translateX(0) scaleX(1);
    transform-origin: left center;
  }
}

@-webkit-keyframes arrowLine {
  0% {
    transform: translateX(0) scaleX(1);
    transform-origin: right center;
  }
  50% {
    transform: translateX(8px) scaleX(.1);
    transform-origin: right center;
  }
  50.1% {
    transform: translateX(-8px) scaleX(0);
    transform-origin: left center;
  }
  100% {
    transform: translateX(0) scaleX(1);
    transform-origin: left center;
  }
}