@use "@globals" as g;

.article {
  display: block;
  position: relative;

  &:hover {
    & .article__image {
      &::after {
        background-color: rgba(0, 0, 0, 0.5);
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      & img {
        transform: scale(1.2);
      }
    }
  }
  
  &__image {
    overflow: hidden;
    width: 100%;
    height: 100%;

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: transform .5s ease-out;
    }
  }
  &__title {
    background-color: rgba(35, 89, 161, .7);
    display: flex;
      align-items: center;
      padding: 15px 20px;
      width: 100%;
      height: 25%;
      position: absolute;
      bottom: 0;
      left: 0;

      @include g.media('pc') {
        padding: 25px 30px;
      }
      
      & span {
        color: var(--color-white);
        font-size: g.auto_clamp(15, 320, 18, 960);
        line-height: 1.2;

        @include g.media('pc') {
          font-size: 1.8rem;
        }
      }
  }
}