@use "@globals" as g;

.posts {
  box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 10px 0px;
  border-radius: 10px;
  display: block;
  overflow: hidden;
  width: 100%;

  &__container {
    height: 122px;
    @include g.media('tb') {
      height: 70px;
    }

    &--vertical {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.post {
  display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  padding: 20px;

  @include g.media('tb') {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }

  &__date {

  }
  &__title {
  }
}